.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  position: relative;
  cursor: pointer;
}

.profile-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-info .name {
  font-weight: bold;
}

.profile-info .mobile {
  font-size: 12px;
  opacity: 0.7;
}

.settings-icon {
  width: 22px;
  margin-left: auto;
  cursor: pointer;
}

.student-id-popup {
  position: absolute;
  top: 60px;
  left: 10px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  display: none;
  z-index: 999;
}

.student-id-popup.show {
  display: block;
}
body.dark .profile {
  background: rgb(97, 93, 93);
  color: #fdfdfd;
  border-bottom: 2px solid #16a34a;
  border-radius: 15px;
}
body.profile {
  background: rgb(97, 93, 93);
  color: #fdfdfd;
  border-bottom: 2px solid #16a34a;
  border-radius: 15px;
  font-size: larger;
}
body.light .profile {
  background: rgb(210, 191, 191);
  color: #ffffff;
  border-bottom: 2px solid #16a34a;
  border-radius: 15px;
}
#shower32 {
  font-size: 10px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: flex-start;
  }

  .settings-icon {
    align-self: flex-end;
  }
    
} 