/* common modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.modal-content {
  padding: 25px;
  border-radius: 12px;
  width: 280px;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.modal-content input {
  width: 100%;

  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

/* light mode */
body.light-mode .modal {
  background: rgba(0, 0, 0, 0.35);
}

body.light-mode .modal-content {
  background: #fff;
  color: #000;
}

body.light-mode .modal-content input {
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
}

body.light-mode .modal-content button {
  background: #f0f0f0;
  color: #000;
}

/* dark mode */
body.dark-mode .modal {
  background: rgba(0, 0, 0, 0.7);
}

body.dark-mode .modal-content {
  background: #222;
  color: #fff;
}

body.dark-mode .modal-content input {
  background: #333;
  color: #fff;
  border: 1px solid #555;
}

body.dark-mode .modal-content button {
  background: #444;
  color: #fff;
}
